.Head{
  background-color: #212F3C;
  height: 125px;
  text-align: center;
  line-height: 50px; 
}
.Head h1{
  color: aliceblue;
  padding: 15px 0 0 0;
  margin: 0;
}
.Head p {
  margin: 0;
  color: white;
}