.box-container{
    width: 100%;
}
.box{
    width: 380px;
    height: 180px;
    background-color: #F6F6F6;
    margin: 2% auto ;
    border-radius: 8px ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.result {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.update{
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding-left: 2%;
}
.test{
    display: inline-flex;
}
.active{
    width: 100%;
    height: 25%;
    background-color: #58D68D;
    border-radius: 8px ;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    display: flex;  
    justify-content: center;
    align-items: center;
}
.first-box {
    display: flex;
    width: 100%;
}
.second-box {
    display: flex;
}
span.anticon.anticon-team,span.anticon.anticon-user-add,span.anticon.anticon-home{
    position: absolute;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 90px;
}
span.anticon.anticon-home{
    padding-left: 65px  !important ;
   
}
span.anticon.anticon-plus {
    position: absolute;
    line-height: 56px;
    padding-left: 126px;
    font-size: 1.2rem;
}
/* .box:first-child .Title:first-child {
background-color: #58D68D;
} */